* {
    font-family: "Work Sans", sans-serif;
}

body {
    margin: 0px;
}

/* header section style */
header {
    background: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 170px;

}

.navber-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img img {
    width: 70px;
    height: 35px;
    margin-right: 16px;

}

.navber-img h2 {
    color: #0B0223;
    font-size: 34px;
    font-weight: 700;
}

.color-G {
    color: #FF42A5;
}

.item-block {
    display: flex;
    gap: 20px;
    align-items: center;
}

.item-block a {
    text-decoration: none;
    color: #3C354F;
    font-size: 14px;
    align-items: center;
}

.item-block .box-1 {
    border-radius: 5px;
    background: rgba(11, 2, 35, 0.10);
    padding-inline: 16px;
    padding-block: 7px;
    display: flex;
    align-items: center;

}


.box-1 img {
    margin-left: 10px;
    width: 25px;
}


/* main section style */
/* Play Like The section style*/
.item-left {
    display: flex;
    margin-top: 100px;
    margin-inline: 170px;
    gap: 250px;
}

.left-text h2 {
    color: #0B0223;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 0;

}

.left-text h1 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 67px;
    font-weight: 800;
    margin: 0;
}

.all-logos {
    margin-block: 30px;
}

.all-logos a {
    text-decoration: none;
    color: #534C64;
    font-size: 14px;
    font-weight: 500;

}

.all-logos img {
    width: 18px;
}

.logo-lin-1 {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
}

.logo-link-2 {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
}

.logo-link-3 {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
}

.img-size img {
    width: 500px;
    margin-top: -60px;

}

.btn-1 {
    background-color: #FF42A5;
    border: none;
    border-radius: 48px;
    padding: 14px 27px;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    margin-right: 15px;
}

.btn-2 {
    background-color: #4EC5F7;
    border: none;
    border-radius: 48px;
    padding: 14px 27px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
}

/* we are gamer section style  */
.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
    margin-inline: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.pngwing-img img {
    width: 600px;
}

.gamer-right {
    text-align: right;
}

.gamer-right h2 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: right;
    font-size: 40px;
    font-weight: 700;
}

.gamer-right p {
    color: #534C64;
    text-align: right;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.btn-3 {
    background-color: #FF42A5;
    border: none;
    border-radius: 48px;
    padding: 14px 30px;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    margin-block: 10px;
}

.gamer-right .purpose {
    color: #534C64;
    text-align: right;
    font-size: 17px;
    font-weight: 500;
}

.gamer-right .purpose span {
    color: #534C64;
    font-size: 25px;
    font-weight: 700;
    line-height: 45px;
}

/* Online Games Funny Videos */
.online-games h2 {
    color: #0B0223;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.online-games h2 span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.online-games .text-p {
    color: #534C64;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1px;
}

.games-card-list {
    display: flex;
    margin-top: 50px;
    gap: 15px;
    margin-inline: 160px;
    margin-bottom: 50px;
}

.games-card-list img {
    width: 250px;
}

.games-card-list p {
    color: #534C64;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    width: 250px;
}

.play-button {
    text-align: center;

}

.play-button p {
    color: #FF42A5;
    margin-top: 0;
    margin-bottom: 0;

}

.play-button img {
    width: 35px;
    margin-top: 120px;
    opacity: 100%;

}

.hover-card {
    position: relative;
}

.play-button {
    position: absolute;
    transition: .3s ease;
    opacity: 0;

}

.hover-card:hover .play-button {
    opacity: 2;
    background-color: rgb(15, 15, 15);
    opacity: 50%;
    height: 290px;
    border-radius: 10px;

}

/* Play Instantly section */
.play-instantly {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-inline: 120px;
    margin-top: 80px;
    gap: 60px;
}

.play-instantly h2 {
    text-align: right;
    color: #0B0223;
    font-size: 35px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 0;
}

.left-item span {
    color: #FF42A5;
}

.left-item p {
    color: #534C64;
    text-align: right;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
}
.left-item{
    margin-bottom: 250px;
    margin-left: 100px;
}
.right-img{
    margin-left: 100px;
}

.img-1 img {
    width: 480px;
}

.position img {
    width: 230px;
}

.position {
    position: relative;
    right: 100px;
    bottom: 210px;
}


/* Responsiv mobail device  */
@media screen and (max-width:576px) {

    /* header section */

    nav,
    .item-block {
        flex-direction: column;
    }

    .box-1 {
        width: 165px;
    }

    /* main section */
    /* Play Like The section style*/
    .item-left {
        flex-direction: column-reverse;
        width: 100%;
        margin-inline: 0px;
        gap: 70px;
    }

    .img-size img {
        width: 420px;
        margin-inline: auto;

    }

    .left-text {
        margin-inline: auto;
    }

    /* we are gamer section style  */
    .container {
        flex-direction: column;
        align-items: center;
        margin-inline: 0px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .pngwing-img img {
        width: 450px;
    }

    .gamer-right {
        margin-inline: auto;
        text-align: center;

    }

    .gamer-right h2 {
        text-align: center;

    }

    .gamer-right p {
        text-align: center;
    }


    .gamer-right .purpose {
        text-align: center;
    }

    /* Online Games Funny Videos */
    .games-card-list {
        flex-direction: column;
        margin-inline: 0px;
        align-items: center;
    }
/* Play Instantly section */
.play-instantly {
    flex-direction: column;
    align-items: center;
    margin-inline: 0px;
    margin-top: 40px;
    gap: 0;
}
.play-instantly h2 {
    text-align: center;

}
.img-1 img {
    width: 100%;
}
.position img{
    width: 220px;
}
.left-item{
    margin-bottom: 30px;
    margin-left: 0px;
}
.left-item p {
    text-align: center;
}
}
/* responsiv for tablet */
@media screen and (min-width:576px) and (max-width:768px){
    
}